<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update user</title>
</head>
<body>
<h2>Update user</h2>
  <br/>

<form th:method="PATCH" th:action="@{/admin/showAll/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="username">Enter username</label>
    <input type="text" th:field="${user.username}" id="username"/>
    <br/>
    <label for="password">Password</label>
    <input type="password" th:field="${user.password}" id="password"/>
    <br/>
    <label for="age">Age</label>
    <input type="number" th:field="${user.age}" id="age"/>
    <br/>
    <label for="email">Email</label>
    <input type="text" th:field="${user.email}" id="email"/>
    <br/>
    <input type="submit" value="Update!"/>
  </form>
  <br/>
  <form th:action="@{/admin}">
    <button type="submit" class="btn btn-outline-danger">List users</button>
  </form>

</body>
</html>