<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create new user</title>
</head>
<body>
<h2>Create new user</h2>
<div>
  <br>
  <form method="POST" th:action="@{/admin/new}" th:object="${userForm}">
      <label for="username">Enter username</label>
      <input type="text" th:field="*{username}" id="username"/>
      </p>
      <label for="password">Password</label>
      <input type="password" th:field="*{password}" id="password"/>
      </p>
      <label for="age">Age</label>
      <input type="number" th:field="*{age}" id="age"/>
      </p>
      <label for="email">Email</label>
      <input type="text" th:field="*{email}" id="email"/>
    <br/>
      <form method="POST" th:action="@{/admin/new}" th:object="${roleForm}">
          <label for="name">Enter username</label>
          <input type="text" th:field="*{name}" id="username"/>
          </p>
    <button type="submit">Create new user</button>
  </form>
  <br/>
  <form th:action="@{/admin}">
    <button type="submit" class="btn btn-outline-danger">List users</button>
  </form>
</div>
</body>
</html>