<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<br/>
<br/>
<h3>Your data</h3>
<br/>
<td th:utext="${user.toString()}">data</td>
<!--<div sec:authorize="isAuthenticated()">Authenticated as <span sec:authentication="name"></span></div>-->

<br>
<br>
<br>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="logout">
</form>
</body>
</html>